doctype html
html(lang="en", style="/*background: rgb(34, 34, 34);*/")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- link(rel="stylesheet", href="/static/styles/generator.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
        style.
            .hljs {
                background: none !important;
                word-wrap: normal;
                white-space: pre-wrap;
                overflow-wrap: anywhere;
                max-height: 100px;
                overflow-y: scroll;
                padding-right: 13px !important;
            }

            *[opaque-on-hover] {
                opacity: 50%;
                z-index: 500;
            }

            *[opaque-on-hover]:hover {
                opacity: 100%;
            }
    body(style="height: 700px; padding: 10px;")
        div.uk-container.uk-height-1-1
            h2 Price Widget Generator
            div.uk-grid.uk-height-1-1
                div.uk-inline(class="uk-width-1-1@s uk-width-1-2@m uk-first-column uk-margin-bottom")
                    <a id="reset-settings-button" class="uk-position-top-right uk-icon-button uk-margin-small-top uk-margin-small-right uk-box-shadow-small uk-button-danger" uk-icon="icon: trash" opaque-on-hover></a>
                    form#settings-form.uk-form-horizontal.uk-panel-scrollable.uk-resize-vertical.uk-padding-small(style="height: 650px !important;", onSubmit="event.preventDefault()")
                        
                        
                        h3 General

                        div.uk-margin.uk-animation-shake
                            label.uk-form-label(for="product-url-input") Product URL
                            div.uk-form-controls
                                div.uk-inline
                                    <span class="uk-form-icon" uk-icon="icon: link"></span>
                                    input#product-url-input.uk-input.uk-form-width-large(type="text", name="productUrl", placeholder="https://www.somestore.com/...", value="www.teststore.com")
                        
                        div.uk-alert Supported Stores: Amazon, Walmart, BestBuy, newegg


                        <hr class="">

                        h3 Price Text

                        //- div.uk-margin
                        //-     span.uk-form-label Enabled
                        //-     div.uk-form-controls.uk-form-controls-text
                        //-         label
                        //-             input#borders-enabled-input.uk-checkbox(type="checkbox", name="bordersEnabled", checked=true)
                        
                        div.uk-margin
                            label.uk-form-label(for="font-select") Font Family
                            div.uk-form-controls
                                select#font-select.uk-select(type="text", name="fontFamily", value="Arial")
                                    option(value="Arial" style="font-family: Arial;") Arial
                                    option(value="Verdana" style="font-family: Verdana;") Verdana
                                    option(value="Tahoma" style="font-family: Tahoma;") Tahoma
                                    option(value="Trebuchet MS" style="font-family: Trebuchet MS ;") Trebuchet MS 
                                    option(value="Times New Roman" style="font-family: Times New Roman;") Times New Roman
                                    option(value="Georgia" style="font-family: Georgia;") Georgia
                                    option(value="Garamond" style="font-family: Garamond;") Garamond
                                    option(value="Courier New" style="font-family: Courier New;") Courier New 
                                    option(value="Brush Script MT" style="font-family: Brush Script MT;") Brush Script MT

                        div.uk-margin
                            label.uk-form-label(for="color-input" showValue="true") Color
                            div.uk-form-controls
                                input#color-input.uk-input(type="color", name="color", value="#cccccc")

                        div.uk-margin
                            label.uk-form-label(for="font-size-input" showValue="true") Font Size
                            div.uk-form-controls.uk-form-controls-text
                                input#font-size-input.uk-range(type="range" name="fontSize" min="0" max="4" value="2" step="0.1" unit="x")
                                
                        div.uk-margin
                            label.uk-form-label(for="font-weight-input" showValue="true") Font Weight
                            div.uk-form-controls.uk-form-controls-text
                                input#font-weight-input.uk-range(type="range" name="fontWeight" min="100" max="1000" value="300" step="100" unit="")
                                
                        div.uk-margin
                            label.uk-form-label(for="stroke-width-input" showValue="true") Stroke Width
                            div.uk-form-controls.uk-form-controls-text
                                input#stroke-width-input.uk-range(type="range" name="strokeWidth" min="0" max="4" value="1" step="0.1" unit="px")

                        div.uk-margin
                            label.uk-form-label(for="stroke-color-input" showValue="true") Stroke Color
                            div.uk-form-controls
                                input#stroke-color-input.uk-input(type="color", name="strokeColor", value="#000000")
                        
                        hr

                        h3 Placement

                        div.uk-margin
                            label.uk-form-label(for="v-align-select") Vertical Align
                            div.uk-form-controls
                                select#v-align-select.uk-select(type="text", name="vAlign", value="center")
                                    option(value="flex-start") Top
                                    option(value="center", selected="selected") Center
                                    option(value="flex-end") Bottom

                        div.uk-margin
                            label.uk-form-label(for="v-offset-input" showValue="true") Vertical Offset
                            div.uk-form-controls.uk-form-controls-text
                                input#v-offset-input.uk-range(type="range" name="vOffset" min="-200" max="200" value="0" step="1" unit="px")

                        div.uk-margin
                            label.uk-form-label(for="h-align-select") Horizontal Align
                            div.uk-form-controls
                                select#h-align-select.uk-select(type="text", name="hAlign", value="center")
                                    option(value="flex-start") Left
                                    option(value="center", selected="selected") Center
                                    option(value="flex-end") Right

                        div.uk-margin
                            label.uk-form-label(for="h-offset-input" showValue="true") Horizontal Offset
                            div.uk-form-controls.uk-form-controls-text
                                input#h-offset-input.uk-range(type="range" name="hOffset" min="-200" max="200" value="0" step="1" unit="px")
                                
                div(class="uk-width-1-1@s uk-width-1-2@m")
                    div(class="uk-card uk-card-default uk-card-body uk-width-1-1")
                        h3 Preview
                        div.uk-container.uk-inline.uk-width-1-1
                            iframe#preview-frame.uk-width-1-1(src="", frameborder="0", style="border: 1px solid black;") 
                            img#spinner.uk-position-center(src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw340", style="height: 128px;")
                        
                        //- form.uk-form-horizontal
                        //-     div.uk-margin
                        //-         label.uk-form-label(for="embed-code-input") Embed Code
                        //-         div.uk-form-controls
                        //-             textarea#embed-code-input.uk-textarea.uk-form-width-large(name="productUrl" rows="10" placeholder="Some text...")

                        h3(style="margin-top: 3px;") Embed Code
                        div
                            pre.uk-width-expand.uk-inline
                                code#code-block.language-html
                                  | &lt;div&gt;
                                  |   &lt;h1 some-prop="hello"&gt;Hello!&lt;/h1&gt;
                                  | &lt;/div&gt;
                        

                        form.uk-form-horizontal
                            div.uk-margin
                                span.uk-form-label Generate on update
                                div.uk-form-controls.uk-form-controls-text
                                    label
                                        input#auto-update-input.uk-checkbox(type="checkbox", name="bordersEnabled", checked=true)

                        div
                            button#generate-button.uk-button.uk-button-primary.uk-button-large.uk-text-nowrap.uk-animation-scale-up(class="uk-width-1-2@s")
                                span(uk-icon="icon: cog")
                                span  Generate!
                            button#lucky-button.uk-button.uk-button-default.uk-button-large.uk-text-nowrap.uk-animation-scale-up(class="uk-width-1-2@s")
                                span(uk-icon="icon: happy")
                                span  Feeling Lucky!

                        div.uk-flex.uk-flex-center
                            button#copy-button.uk-button.uk-button-secondary.uk-button-large.uk-text-nowrap.uk-animation-scale-up(class="uk-width-1-2@s")
                                span(uk-icon="icon: copy")
                                span  Copy
                          

        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>
        script(src="/static/js/uk-range-plugin.js") 
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        script(src="/static/js/Generator.js")